# System files
.DS_Store
Thumbs.db
Implementation roadmap.md

# Personal folder
Csv/ 

# Editor Settings
.vscode/
.idea/

# Virtual enviroments
venv/
.env/
*.pyc
__pycache__/
pvenv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Compilations
*.out
*.class
*.exe
*.dll

# Build / dist
dist/
build/
coverage/

# Temporary files
*.swp
*.swo
*.tmp